---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Proyects from '../components/Proyects.astro';
import Certificate from '../components/Certificate.astro';

import { RESUME } from '../data/resume';

const { basics } = RESUME;
---

<Layout
  title={basics.name + ' - ' + basics.label}
  description={basics.summary}
>
  <section
    class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-6 py-8 sm:py-16 flex flex-col gap-4 px-4 sm:px-0"
  >
    <Header />
    <About />
    <Work />
    <Education />
    <Skills />
    <Proyects />
    <Certificate />
  </section>
</Layout>
