---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Proyects from '../components/Proyects.astro';
import Certificate from '../components/Certificate.astro';
---

<Layout title="Welcome to Astro.">
  <section
    class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-6 py-16 flex flex-col gap-4"
  >
    <Header />
    <About />
    <Work />
    <Education />
    <Skills />
    <Proyects />
    <Certificate />
  </section>
</Layout>
