<a
  href="#"
  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
>
  <h5 class="mb-2 font-bold tracking-tight text-gray-900">
    Noteworthy technology acquisitions 2021
  </h5>
  <p class="text-sm text-gray-700">
    Here are the biggest enterprise technology acquisitions of 2021 so
    far, in reverse chronological order.
  </p>
</a>
