---
import Chip from './Chip.astro';
import { RESUME } from '../data/resume';

const { skills } = RESUME;
---

<section>
  <h2 class="font-bold text-xl mb-3">Habilidades</h2>

  <div class="flex flex-wrap gap-2">
    {skills.map((skill) => <Chip label={skill}> </Chip>)}
  </div>
</section>
