---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script
      defer
      src="https://unpkg.com/@tinybirdco/flock.js"
      data-host="https://api.us-east.tinybird.co"
      data-token="p.eyJ1IjogImEyNjY5NzBmLWVkNDktNGQ4MS04ZDI4LWZhMDhjMGQ0YjkxNCIsICJpZCI6ICI5NWQxOWE5Yy0yYjQxLTRiZDItYjRkZC0wMWM4OTVlNjQ4MjAiLCAiaG9zdCI6ICJ1c19lYXN0In0.qNNMmwIIJCks_rYsD8JQ3gVPLop1WvjD8Cx-1zsj-cU"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
